<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <%= link_to 'ALPHABLOG', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Articles</a>
          <ul class="dropdown-menu">
            <%= link_to 'Show the articles', articles_path, class:"dropdown-item" %>
            <% if logged_in?%>
              <%= link_to 'Create a new artilce', new_article_path, class:"dropdown-item" %>
            <% end%>
          </ul>
        </li>
        <% if logged_in?%>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, class:"nav-link", method: :delete %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <%= "(Admin)" if current_user.admin? %>Profile [<%= current_user.username%>]</a>
            <ul class="dropdown-menu">
              <%= link_to 'View your profile', user_path(current_user), class:"dropdown-item" %>
              <%= link_to 'Edit your profile', edit_user_path(current_user), class:"dropdown-item" %>
              <%= link_to 'delete your profile', user_path(current_user),
                  class:"dropdown-item text-danger", method: :delete, data: {confirm: "Are you sure ?"}%>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class:"nav-link" %>
          </li>
        <% end%>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class:"nav-link" %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
