  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <%= link_to "ALPHA BLOG", root_path, class:"navbar-brand", id:"logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Bloggers',users_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Articles</a>
          <ul class="dropdown-menu">
            <%= link_to 'Create a new article', new_article_path,class:"dropdown-item" %>
            <%= link_to 'View Articles', articles_path,class:"dropdown-item" %>
            <li><a class="dropdown-item" href="#">A third link</a></li>
          </ul>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user), class:"nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to 'Logout', logout_path, class:"nav-link", method: :delete %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Log in',login_path, class:"nav-link" %>
        </li>
        <% end%>
        <li class="nav-item">
          <%= link_to 'Sign up',signup_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Search">
      <button class="btn btn-primary" type="button">Search</button>
    </form>
  </div>
</nav>
